<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="/static/css/basic.css" rel="stylesheet" type="text/css"/>

	<title>Bucket Items</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
	<script type="javascript">
	</script>	
	<script type="text/javascript" src="/static/items.js"></script>
	
	<script >
	bucket_name = "{{ bucket_name }}";
	secret = "{{ secret }}";
	
	$(document).ready(function(){
		show_bucket_contents(bucket_name, secret) ;
	});
	</script>
	
</head>

<body>
	<div id="content">
		<div id="data"></div>		
	</div>
</body>
</html>
